---
import NewsComponent from '@/components/home/NewsComponent.astro';

const DATA = [
	{
		bgImg:
			'https://accolombianlawyers.com/noticias/wp-content/uploads/2025/06/Mesa-de-trabajo-1-copia-2-1-860x483.png',
		category: 'Jurídica',
		title: '¿Qué pasa con la prima si cambia de trabajo antes de recibirla?',
		description:
			'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ut est iure reprehenderit distinctio amet voluptas facilis cupiditate doloribus ab delectus, beatae illum ratione quidem dolorem deserunt nulla praesentium magni!',
		imgPerson:
			'https://secure.gravatar.com/avatar/fcc5219188d3f8a3c76345486217720c521e7b7a47d950ba2de7a6204f8b8bc2?s=44&d=mm&r=g',
		namePerson: 'Juan David Cutiva Lopez',
		date: '06 Junio 2025'
	},
	{
		bgImg:
			'https://accolombianlawyers.com/noticias/wp-content/uploads/2025/06/Mesa-de-trabajo-1-copia-2-1-860x483.png',
		category: 'Empresarial',
		title: 'Consulta hundida y reforma laboral revivida: ¿Qué viene ahora?',
		description:
			'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ut est iure reprehenderit distinctio amet voluptas facilis cupiditate doloribus ab delectus, beatae illum ratione quidem dolorem deserunt nulla praesentium magni!',
		imgPerson:
			'https://secure.gravatar.com/avatar/fcc5219188d3f8a3c76345486217720c521e7b7a47d950ba2de7a6204f8b8bc2?s=44&d=mm&r=g',
		namePerson: 'Miguel Angel Hernandez Vanegas',
		date: '08 Junio 2025'
	},
	{
		bgImg:
			'https://accolombianlawyers.com/noticias/wp-content/uploads/2025/06/Mesa-de-trabajo-1-copia-2-1-860x483.png',
		category: 'Civil',
		title: 'Título 3',
		description:
			'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ut est iure reprehenderit distinctio amet voluptas facilis cupiditate doloribus ab delectus, beatae illum ratione quidem dolorem deserunt nulla praesentium magni!',
		imgPerson:
			'https://secure.gravatar.com/avatar/fcc5219188d3f8a3c76345486217720c521e7b7a47d950ba2de7a6204f8b8bc2?s=44&d=mm&r=g',
		namePerson: 'Diego Armando Cutiva Ortiz',
		date: '08 Mayo 2025'
	}
];
---

<section
	id="InformationOfInterestSection"
	class="mt-8 inline-flex h-40 w-full bg-gray-500 shadow-2xl"
>
	<div class="flex h-full w-1/2 items-center">
		<NewsComponent
			bgColor={false}
			name="MainNews"
			category={DATA[0].category}
			title={DATA[0].title}
			imgPerson={DATA[0].imgPerson}
			namePerson={DATA[0].namePerson}
			date={DATA[0].date}
			textStyle={false}
		/>
		<div class="w-2/3">
			<img src={DATA[0].bgImg} alt="" class="h-1/2 w-full object-cover pr-8" />
		</div>
	</div>
	<div class="flex h-full w-1/2 items-center">
		<NewsComponent
			bgColor={false}
			name="MainNews"
			category={DATA[1].category}
			title={DATA[1].title}
			imgPerson={DATA[1].imgPerson}
			namePerson={DATA[1].namePerson}
			date={DATA[1].date}
			textStyle={false}
		/>
		<div class="w-2/3">
			<img src={DATA[1].bgImg} alt="" class="h-1/2 w-full object-cover pr-8" />
		</div>
	</div>
</section>
