---
import NewsComponent from '@/components/home/NewsComponent';

import DATA from '@/data/dataTest.json';
---

<section
	id="InformationOfInterestSection"
	class="mt-8 inline-flex h-40 w-full bg-gray-500 shadow-2xl"
>
	<div class="flex h-full w-1/2 items-center">
		<NewsComponent
			bgColor={false}
			name="MainNews"
			category={DATA[0].category}
			title={DATA[0].title}
			imgPerson={DATA[0].imgPerson}
			namePerson={DATA[0].namePerson}
			date={DATA[0].date}
			textStyle={false}
		/>
		<div class="w-2/3">
			<img src={DATA[0].bgImg} alt="" class="h-1/2 w-full object-cover pr-8" />
		</div>
	</div>
	<div class="flex h-full w-1/2 items-center">
		<NewsComponent
			bgColor={false}
			name="MainNews"
			category={DATA[1].category}
			title={DATA[1].title}
			imgPerson={DATA[1].imgPerson}
			namePerson={DATA[1].namePerson}
			date={DATA[1].date}
			textStyle={false}
		/>
		<div class="w-2/3">
			<img src={DATA[1].bgImg} alt="" class="h-1/2 w-full object-cover pr-8" />
		</div>
	</div>
</section>
