---
import CarrouselNews from '@/components/home/CarouselNews';
import NewsComponent from '@/components/home/NewsComponent';

import DATA from '@/data/dataTest.json';
---

<section
	id="newsSectionContainer"
	class="mt-8 flex h-fit w-full flex-col items-center justify-center gap-3 text-gray-50 md:flex-row md:px-2 xl:px-0"
>
	<div
		id="mainNews"
		class="h-[18rem] w-[95%] bg-cover bg-center bg-no-repeat md:h-[26rem] md:w-[60%]"
		style={`background-image: url(${DATA[0].bgImg})`}
	>
		<CarrouselNews client:load />
	</div>
	<div id="secondaryNews" class="flex h-[26rem] w-[95%] flex-col gap-y-3 md:w-[40%]">
		<div
			class="bg-end flex h-1/2 w-full items-end bg-cover bg-no-repeat"
			style={`background-image: url(${DATA[1].bgImg})`}
		>
			<NewsComponent
				bgColor={true}
				name="SecondaryNewsOne"
				category={DATA[1].category}
				title={DATA[1].title}
				imgPerson={DATA[1].imgPerson}
				namePerson={DATA[1].namePerson}
				date={DATA[1].date}
				textStyle={true}
			/>
		</div>
		<div
			class="bg-end flex h-1/2 w-full items-end bg-cover bg-no-repeat"
			style={`background-image: url(${DATA[2].bgImg})`}
		>
			<NewsComponent
				bgColor={true}
				name="SecondaryNewsTwo"
				category={DATA[2].category}
				title={DATA[2].title}
				imgPerson={DATA[2].imgPerson}
				namePerson={DATA[2].namePerson}
				date={DATA[2].date}
				textStyle={true}
			/>
		</div>
	</div>
</section>
