---
import NewsComponent from '@/components/home/NewsComponent.astro';

const DATA = [
	{
		bgImg:
			'https://accolombianlawyers.com/noticias/wp-content/uploads/2025/06/Mesa-de-trabajo-1-copia-2-1-860x483.png',
		category: 'Jurídica',
		title: 'Título 1',
		description:
			'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ut est iure reprehenderit distinctio amet voluptas facilis cupiditate doloribus ab delectus, beatae illum ratione quidem dolorem deserunt nulla praesentium magni!',
		imgPerson:
			'https://secure.gravatar.com/avatar/fcc5219188d3f8a3c76345486217720c521e7b7a47d950ba2de7a6204f8b8bc2?s=44&d=mm&r=g',
		namePerson: 'Juan David Cutiva Lopez',
		date: '06 Junio 2025'
	},
	{
		bgImg:
			'https://accolombianlawyers.com/noticias/wp-content/uploads/2025/06/Mesa-de-trabajo-1-copia-2-1-860x483.png',
		category: 'Empresarial',
		title: 'Título 2',
		description:
			'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ut est iure reprehenderit distinctio amet voluptas facilis cupiditate doloribus ab delectus, beatae illum ratione quidem dolorem deserunt nulla praesentium magni!',
		imgPerson:
			'https://secure.gravatar.com/avatar/fcc5219188d3f8a3c76345486217720c521e7b7a47d950ba2de7a6204f8b8bc2?s=44&d=mm&r=g',
		namePerson: 'Miguel Angel Hernandez Vanegas',
		date: '08 Junio 2025'
	},
	{
		bgImg:
			'https://accolombianlawyers.com/noticias/wp-content/uploads/2025/06/Mesa-de-trabajo-1-copia-2-1-860x483.png',
		category: 'Civil',
		title: 'Título 3',
		description:
			'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ut est iure reprehenderit distinctio amet voluptas facilis cupiditate doloribus ab delectus, beatae illum ratione quidem dolorem deserunt nulla praesentium magni!',
		imgPerson:
			'https://secure.gravatar.com/avatar/fcc5219188d3f8a3c76345486217720c521e7b7a47d950ba2de7a6204f8b8bc2?s=44&d=mm&r=g',
		namePerson: 'Diego Armando Cutiva Ortiz',
		date: '08 Mayo 2025'
	}
];
---

<section
	id="newsSectionContainer"
	class="mt-8 flex h-fit w-full flex-col items-center justify-center gap-3 text-gray-50 md:flex-row md:px-2 xl:px-0"
>
	<div
		id="mainNews"
		class="flex h-[18rem] w-[95%] items-end bg-cover bg-center bg-no-repeat md:h-[26rem] md:w-[60%]"
		style={`background-image: url(${DATA[0].bgImg})`}
	>
		<NewsComponent
			name="MainNews"
			category={DATA[0].category}
			title={DATA[0].title}
			description={DATA[0].description}
			imgPerson={DATA[0].imgPerson}
			namePerson={DATA[0].namePerson}
			date={DATA[0].date}
		/>
	</div>
	<div id="secondaryNews" class="flex h-[26rem] w-[95%] flex-col gap-y-3 md:w-[40%]">
		<div
			class="bg-end flex h-1/2 w-full items-end bg-cover bg-no-repeat"
			style={`background-image: url(${DATA[1].bgImg})`}
		>
			<NewsComponent
				name="SecondaryNewsOne"
				category={DATA[1].category}
				title={DATA[1].title}
				imgPerson={DATA[1].imgPerson}
				namePerson={DATA[1].namePerson}
				date={DATA[1].date}
			/>
		</div>
		<div
			class="bg-end flex h-1/2 w-full items-end bg-cover bg-no-repeat"
			style={`background-image: url(${DATA[2].bgImg})`}
		>
			<NewsComponent
				name="SecondaryNewsTwo"
				category={DATA[2].category}
				title={DATA[2].title}
				imgPerson={DATA[2].imgPerson}
				namePerson={DATA[2].namePerson}
				date={DATA[2].date}
			/>
		</div>
	</div>
</section>
